﻿
@{
    ViewBag.Title = "BindMultipleObjects";
}

<h2>BindMultipleObjects</h2>

@using (Html.BeginForm())
{
    <div id="addresses">
        <div class="form-group">
            <label>City</label>
            <input type="text" name="[0].City" class="form-control"/>
        </div>
        <div class="form-group">
            <label>State</label>
            <input type="text" name="[0].State" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Zip</label>
            <input type="text" name="[0].Zip" class="form-control"/>
        </div>
    </div>
    <button class="btn btn-primary">Save</button>
}

<div class="row">
    <button id="btnAddAnother" class="btn btn-success">Add Another Address</button>
</div>

@section scripts
{
    <script>
        var index = 1;

        $(document)
            .ready(function() {
                $('#btnAddAnother')
                    .click(function () {
                        var data = '<div class="form-group"> ' +
                            '<label>City</label> ' +
                            '<input type="text" name="[' +
                            index +
                            '].City" class="form-control" /> ' +
                            '</div> ' +
                            '<div class="form-group"> ' +
                            '<label>State</label> ' +
                            '<input type="text" name="[' +
                            index +
                            '].State" class="form-control" /> ' +
                            '</div> ' +
                            '<div class="form-group"> ' +
                            '<label>Zip</label> ' +
                            '<input type="text" name="[' +
                            index +
                            '].Zip" class="form-control" /> ' +
                            '</div> ';
                        $('#addresses').append(data);

                        index++;
                    });
            });

    </script>
}